{% extends 'base.html.twig' %} 

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('style.css') }}"/>
{% endblock %}

{% block title %}Пополение счета пользователя{% endblock %}

{% block body %}    
<div class="topmenu">
<h2>Пополнение баланса</h2>
</div>
<div class="settingsmenu">
Для пополения счета отправьте средства в размере от 1000 до 15000 рублей по следующим реквизитам:<br><br>
Банк-получатель:<br>
АО «Тинькофф Банк»<br>
<br>
Корр. счет:<br>
30101810145250000974<br>
<br>
БИК:<br>
044525974<br>
<br>
Получатель:<br>
ООО "Тест"<br>
<br>
Счет получателя:<br>
40102810600000453692<br>
<br>
Назначение платежа:<br>
Пополнение средств для (Ф.И.О) по договору ХХХХ.<br>
<br>
</div>
<div class="topmenu">
<a href="/">Вернуться назад</a>
</div>

{% endblock %}
