{% extends 'base.html.twig' %} 

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('style.css') }}"/>
{% endblock %}

{% block title %}Заявка на вывод средств{% endblock %}

{% block body %}    
<div class="topmenu">
<h2>Заявка на вывод средств</h2>
</div>
<div class="settingsmenu">
Для составления заявки на вывод средств укажите сумму в рублях:<br><br>
{{ form_start(form) }}    
{{ form_row(form.amount) }}    
<input type = "submit" name = "submit" value = "Сохранить">    
{{ form_end(form) }} 

</div>
<div class="topmenu">
<a href="/">Вернуться назад</a>
</div>

{% endblock %}
